#!/bin/bash

# Install Homebrew if not present
if ! command -v brew &>/dev/null; then
    echo "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> ~/.zshrc
    eval "$(/opt/homebrew/bin/brew shellenv)"
else
    echo "Homebrew already installed."
fi

# Check if 1Password CLI is installed
if ! command -v op &>/dev/null; then
  echo "Installing 1Password CLI..."
  brew install 1password/tap/1password-cli
fi

# Authenticate to 1Password if not already signed in
if ! op whoami &>/dev/null; then
  echo "Signing in to 1Password CLI..."
  eval $(op account add --signin --address my.1password.com)
fi
