<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>Label</key>
                <string>com.user.boot2docker</string>
                <key>StandardOutPath</key>
                <string>/var/log/boot2docker.log</string>
                <key>StandardErrorPath</key>
                <string>/var/log/boot2docker.err</string>
                <key>ProgramArguments</key>
                <array>
                        <string>/usr/local/bin/boot2docker</string>
                        <string>up</string>
                </array>
                <key>RunAtLoad</key>
                <true/>
                <key>KeepAlive</key>
                <false/>
        </dict>
</plist>
